@import '@/components/mixins/index.module.scss';
@import '@/components/theme.module.scss';
@import '@/components/layout.module.scss';

.Wrapper {
  @include Link($spacing-medium);
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: $spacing-medium;

}