@import '@/components/placeholders/index.module.scss';
@import '@/components/theme.module.scss';

.Wrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: space-evenly;
}

.Content {
  @extend .Circle;
  box-shadow: 0px 2px 2px $primary;
  outline: none;
  width: 40px;
  height: 40px;
}