@import '@/components/theme.module.scss';
@import '@/components/mixins/index.module.scss';

.Wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-medium;
}

.ItemLink {
  @include Link($spacing-medium);
  width: 30ch;
}