@import '@/components/mixins/index.module.scss';
@import '@/components/theme.module.scss';

.Button {
  @include Card($primary);
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: $spacing-medium;
  outline: none;
  border: none;
}

.Wrapper {
  @include Card($primary);
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: $spacing-medium;
}