@import '@/components/theme.module.scss';

.Wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-xxxl;

  & > * {
    padding-bottom: $spacing-xxxl;
    border-bottom: 1px solid $background-primary;

    &:last-child {
      border: none;
    }
  }
}

.Total {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 2ch;
  gap: 1ch;
}