@import '@/components/mixins/index.module.scss';
@import '@/components/theme.module.scss';

.Wrapper {
  @include Link($spacing-medium);
  align-items: center;
  text-align: center;
  gap: $spacing-medium;
  
  @media (min-width: 1080px) {
    flex-direction: column;
  }
}