@import '@/components/mixins/index.module.scss';
@import '@/components/theme.module.scss';

.Wrapper {
  @include Link($spacing-default);
  align-items: center;
  text-align: center;
  gap: $spacing-mini;
  
  @media (min-width: $window-width-default) {
    flex-direction: column;
    gap: $spacing-medium;
    @include Link($spacing-medium);
  }
}