@import '@/components/layout.module.scss';
@import '@/components/theme.module.scss';
@import '@/components/mixins/BoxShadow.module.scss';

@mixin Card($backgroundColor) {
  @include BoxShadow($primary);
  display: flex;
  flex-direction: column;
  gap: $spacing-medium;
  padding: $spacing-medium;
  background-color: $backgroundColor;
  border-radius: $border-radius-round;
}