@import '@/components/theme.module.scss';
@import '@/components/layout.module.scss';
@import '@/components/placeholders/index.module.scss';

.Button {
  @extend .Clickable; 
  background-color: $primary;
}

.Wrapper {
  @extend .Circle;
  width: 40px;
  height: 40px;
  box-shadow: 0px 2px 2px $primary;
  border: none;
  outline: none;
}

.Icon {
  width: 28px;
  height: 28px;
}