@import '@/components/theme.module.scss';
@import '@/components/placeholders/index.module.scss';
@import '@/components/mixins/index.module.scss';

.Button {
  @extend .Clickable; 
  background-color: $primary;
}

.Wrapper {
  @extend .Circle;
  @include BoxShadow($primary);
  display: flex;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
}

.Icon {
  width: 28px;
  height: 28px;
}