@import '@/components/theme.module.scss';
@import '@/components/mixins/index.module.scss';
@import '@/components/placeholders/index.module.scss';

.Wrapper {
  position: relative;
}

.Grid {
  display: grid;
  grid-template-columns: 6ch 20ch 24ch;
  grid-gap: $spacing-medium;

  align-items: center;

  @media (max-width: $window-width-mini) {
    grid-template-columns: 6ch 12ch 15ch;
    grid-gap: $spacing-nano;
  }
}

.Button {
  @extend .Clickable;
  @include BoxShadow($primary);
  display: flex;
  justify-content: center;
  align-items: center;  
  text-decoration: none;
  border-radius: $border-radius-circle;
  background-color: $primary;
  width: 6ch;
  height: 6ch;

  outline: none;
  border: none;
}

.CartLink {
  @include Link($spacing-medium);
}