@import '@/components/theme.module.scss';

.Wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-medium;
  height: 100%;
}

.List {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: $spacing-medium;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;

  & > * {
    width: 100%;
  }
  

  @media (max-width: $window-width-small) {
    max-height: 265px; 
  }

  @media (max-width: $window-width-default) {
    max-height: 340px; 
  }

  @media (min-width: $window-width-mini) {
    & > * {
      width: 47%;
    }
    // display: grid;
    // grid-gap: $spacing-medium;
    // grid-template-columns: repeat(2, 2fr);
  }

  @media (min-width: $window-width-default) {
    & > * {
      width: 30%;
    }
  }
}