@import '@/components/theme.module.scss';
@import '@/components/mixins/index.module.scss';

.Wrapper {
  @include Card($background-secondary);
  position: absolute;
  width: 40ch;
  top: 6ch;
}

.ConfirmationLink {
  @include Link($spacing-medium);
}