
// Spacing
$spacing-nano: 2px;
$spacing-mini: 4px; 
$spacing-default: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-xl: 28px;
$spacing-xxl: 32px;
$spacing-xxxl: 40px;

// FontSize
$fontsize-nano: 12px;
$fontsize-default: 14px;
$fontsize-medium: 16px;
$fontsize-large: 24px;
$fontsize-xl: 28px;
$fontsize-xxl: 32px;
$fontsize-xxxl: 40px;

// Weights:
$fontweight-default: normal;
$fontweight-bold: bold;
$fontweight-bolder: bolder;

// Border Radius 
$border-radius-mini: 2px;
$border-radius-default: 4px;
$border-radius-round: 8px;
$border-radius-rounder:16px;
$border-radius-chungus: 32px;
$border-radius-circle:50%;

// Window sizes
$window-large: 1280px;
$window-default: 1080px;
$window-small: 600px;
$window-mini: 340px;

