@import '@/components/theme.module.scss';

.Main {
  display: flex;
  flex-direction: column;
  gap: $spacing-large;
  height: 100%;
}

.Wrapper {
  border: 1px solid $background-secondary;
  border-radius: $border-radius-round;

  background-color: $background-secondary;
  
  padding: $spacing-medium;

  @media (min-width: $window-width-small) {
    padding: $spacing-xl $spacing-xxl;
  }
  
  @media (min-width: $window-width-small) {
    padding: $spacing-large $spacing-xl;
  }
}

.Content {
  @extend .Wrapper;
  height: 100%;
}

.Grid {
  display: flex;
  flex-direction: column;
  gap: $spacing-medium;
  padding: 1ch;
  height: calc(100% - 2ch);

  @media screen and (min-width: $window-width-default) {
    padding: 4ch;
    height: calc(100% - 8ch);
    display: grid;
    grid-template-columns: .9fr .3fr;
    grid-column-gap: $spacing-xxxl;
  }
}