@import '@/components/theme.module.scss';
@import '@/components/layout.module.scss';

.Main {
  display: flex;
  flex-direction: column;
  gap: $spacing-large;
}

.Wrapper {
  border: 1px solid $background-secondary;
  border-radius: $border-radius-round;

  padding: $spacing-xxl $spacing-xxxl;
  background-color: $background-secondary;
}

.Content {
  width: 30ch;
  height: 40ch;
  background-color: $background-tertiary;
}

.Grid {
  display: grid;
  grid-template-columns: .9fr .3fr;
  grid-column-gap: $spacing-xxxl;
  width: 100%;
  height: 85%;
}