@import '@/components/theme.module.scss';
@import '@/components/mixins/index.module.scss';

.Wrapper {
  @include Scrollbar;
  height: 35ch;
  display: flex;
  flex-direction: column;
  gap: $spacing-medium;

  & > * {
    padding-bottom: $spacing-medium;
    border-bottom: 1px solid $background-primary;

    &:last-child {
      border: none;
    }
  }
}

.Total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1ch;
}