@import '@/components/theme.module.scss';

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: fixed;
  width: 100%;
  height: 100%;

  background-color: $background-primary;

  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('./Ubuntu.woff2');
  }

  & > div {
    position: fixed;
    width: 100%;
    height: calc(100vh - 8ch);
    min-height: calc(100vh - 8ch);
    max-height: calc(100vh - 8ch);
  }

}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 { margin: 0;}

ul {
  padding-inline-start: 0;
  list-style-type: none;
  margin: 0
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
